@import url('css.css');
body{
	background: url(../img/lines.jpg) no-repeat center center;
	background-attachment: fixed;
	background-size: cover;
	padding-top: 53px;
}
.wel{
	text-align: center;
	font-size: 25px;
}
.intro{
	background-color: #2A2B2D;
	margin-bottom: 3%;
	padding: 17px 0px 0px 0px;
	color: #fff;
}
.intro-header{
	background-color: white;
	margin-top: 3%;
}
.breadcrumb{
	background-color: transparent;
}
.color-bread{
	font-size: 16px;
	padding-left: 10px;
	color: #fff;
}

.when{
	margin-bottom: 5%;
	text-align: center;
	margin-top: -1%;
	color: #000;
	font-size: 10px;
}
@media (min-width: 320px) {
	.col{
		display: flex;
		justify-content: center;
	}
	.when{
		font-size: 2em;
	}
	.btnscancel{
		background-color: #2A2B2D;
		margin-left: 12%;
		padding: 7px 15px;
		color: #fff;
	}
	.btnssave{
		background-color: #2A2B2D;
		margin-left: 5%;
		padding: 7px 15px;
		color: #fff;
	}
	.btnscancel:hover, .btnssave:hover{
		background-color: #2A2B2D;
		color: #fff;
	}
	.cancel{
		text-decoration: none;
		color: #fff;
	}
	.cancel:focus{
		text-decoration: none;
		color: #fff;
	}

}
@media (min-width: 480px) {
	label{
		font-size: 23px;
	}
	.color-bread{
		font-size: 25px;
		padding-left: 10px;
		color: #fff;
	}
	.title{
		font-size: 20px;
	}
	.when{
		font-size: 3em;
	}
	.btnscancel{
		background-color: #2A2B2D;
		margin-left: 20%;
		color: #fff;
	}
	.btnssave{
		background-color: #2A2B2D;
		margin-left: 5%;
		color: #fff;
	}
	.btnscancel:hover, .btnssave:hover{
		background-color: #2A2B2D;
		color: #fff;
	}
	.cancel{
		text-decoration: none;
		color: #fff;
	}
	.cancel:focus{
		text-decoration: none;
		color: #fff;
	}

}
@media (min-width: 1024px) {
	label{
		font-size: 15px;
	}
	.color-bread{
		font-size: 15px;
		padding-left: 10px;
		color: #fff;
	}
	.title{
		font-size: 15px;
	}
	.btn-cancel{
		background: green;
	}
	.btn-save{
		background: green;
	}
	.buttons{
		margin-top: 8%;
		margin-left: 30%;
	}
	.btnscancel{
		background-color: #0F6D93;
		margin-left: -5%;
		padding: 12px 10%;
		color: #fff;
	}
	.btnssave{
		background-color:#0F6D93;
		margin-left: 5%;
		padding: 12px 10%;
		color: #fff;
	}
	.btnscancel:hover, .btnssave:hover{
		background-color: #0F6D93;
		color: #fff;
	}
	.cancel{
		text-decoration: none;
		color: #fff;
	}
	.cancel:focus{
		text-decoration: none;
		color: #fff;
	}

}
