body{
	width: 100%;
	height: 100%;
}

/*estilo a inputs como en settings*/
input[type=text], input[type=password]{
	height: 50px;
	width: 100%;
	margin: 8px 0;
	background-color: rgb(42, 43, 45, 0.2);
	border-radius: 0px;
	border: 0.5px solid #000;
}

input[type=text]:active, input[type=password]:focus{
	height: 50px;
	width: 100%;
	margin: 8px 0;
	width: 100%;
	margin: 8px 0;
}

input::-webkit-input-placeholder {
  color: #000;
}

input:-moz-placeholder {
  color: #000;
}

input:-ms-input-placeholder {
  color: #000;
}

/*Barra de navegación*/
.navbar-default{
	background-color: #0F6D93;
	border-color: #2A3C44;
	font-size: 20px;
}

.navbar-default .navbar-brand{
	color: #FFF;
	background-color: transparent;
}

/*Letras login y sign in*/
.navbar-default .navbar-nav > li > a{
	color: #E5EFF5;
	background-color: transparent;
}

.navbar-default .navbar-nav > li > a:hover{
	color: #fff;
	border: 0px solid #E5EFF5;
	border-bottom-width: 3px;
	background-color: transparent;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover{
	color: #fff;
	border: 0px solid #E5EFF5;
	border-bottom-width: 3px;
	background-color: transparent;
}

img {
	width: 100%;
	max-height: 850px;
}

/*Aplicación de ciertos atributos a ciertos elementos cuando se ven en diferentes dispositivos*/
@media (min-width: 320px) {
	.header-text {
		top: 23%;
	}
	h1{
		font-size: 18px;
		margin-bottom: 20px;
	}

	.btn {
		display: inline-block;
		padding: 0px 15px;
		border: 2px solid #FFF;
		margin-bottom: 8px;
		color: #FFF;
		font-size: 20px;
	}
}

@media (min-width: 480px) {
	h1{
		font-size: 40px;
	}

	.btn {
		display: inline-block;
		padding: 10px 45px;
		border: 2px solid #FFF;
		margin-right: 8px;
		color: #FFF;
		font-size: 30px;
	}

	.navbar-default .navbar-brand{
		font-size: 30px;
	}
	.navbar-default .navbar-nav > li > a{
		font-size: 25px;
	}
}

@media (min-width: 1024px) {
	h1{
		font-size: 45px;
	}
	.text{
		font-size: 25px;
	}
	.intro-divider {
		margin-bottom: 5%;
		width: 600px;
		border-top: 1px solid #f8f8f8;
		border-bottom: 1px solid rgba(0,0,0,0.2);
	}
	.btn {
		display: inline-block;
		padding: 10px 50px;
		border: 2px solid #FFF;
		margin-right: 8px;
		color: #FFF;
		font-size: 20px;
	}
	.btn-show{
		background-color: #E5EFF5;
		padding: 10px 60px;
		color: #000;
	}
	.btn-show:hover{
		background-color: transparent;
		color: #fff;
	}
	.btn-login{
		background-color: transparent;
		color: #fff;
	}
	.btn-login:hover{
		background-color: #E5EFF5;
		color: #000;
	}
	.navbar-default .navbar-brand{
		font-size: 20px;
	}
	.navbar-default .navbar-nav > li > a{
		font-size: 18px;
	}
}

.header-text {
	position: absolute;
	top: 28%;
	left: 1.8%;
	right: auto;
	width: 100%;
	color: #FFF;
}

.showride{
	background-color: red;
}
