.header-register{
	background-color: #0F6D93;
}
.body-register{
}
.footer-register{

}
.btn-regiter{
	background-color: #0F6D93;
	padding: 15px 30%;
	text-align: center;
	color: #fff;
	border-radius: 3px;
}
.btn-regiter:hover{
	color: #0899CE;

}

.register-here,
.register-here:hover{
	color: #0899CE;
}
.register-here:focus{
	color: #0899CE;
}
