@import url('fonts.css');
body{
	padding-top: 80px;
}
label{
	font-family:Lato-Light;
}
input[type=text], input[type=password]{
	padding: 20px 30px;
	background-color: rgb(42, 43, 45, 0.2);
	border-radius: 0px;
	border: 0.5px solid #000;
}
.navbar-default{
	background-color: #2A2B2D;
	border-color: #E5EFF5;
	font-size: 18px;
}
.navbar-default .navbar-brand{
	color: #fff;
	background-color: transparent; 	
	font-family:Lato-Light;
	font-size: 20px;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus{
	color: #E5EFF5;
}
.navbar-default .navbar-nav > li > a{
	color: #E5EFF5;
	font-family:Lato-Light;
	background-color: transparent;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover{
	color: #fff;
	border: 0px solid #E5EFF5;
	border-bottom-width: 3px;
	background-color: transparent;
	font-family:Lato-Light;
}
.navbar-default .navbar-nav > li > a:hover{
	color: #fff;
	border: 0px solid #E5EFF5;
	border-bottom-width: 3px;
	background-color: transparent;
}
.titleSearch{
	color: #000;
	font-family:Lato-Light;
}
.glyphicon{
	font-size: 18px;
	padding-right: 8px;
}
.navbar-default .navbar-brand{
	font-size: 20px;
}
.navbar-default .navbar-nav > li > a{
	font-size: 18px;
}

.carousel-inner img {
	width: 100%;
	max-height: 750px;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
	display: block;
	max-width: 100%;
	height: auto;
	margin-left:0;
	padding-left: 0;
}
.ra{
	margin-bottom: 5%;
}
.label-show{
	font-size: 15px;
}
.btn {
	padding: 10px;
}
.modal-header{
	background-color: #2A2B2D;
	color: #fff;
	text-align: center;
	font-family:Lato-Light;
}
.modal-footer{
	margin-top: 25px;
}
