@font-face{
	font-family:Lato-Light;
	src:url(../Lato/Lato-Light.ttf);
}
@font-face{
	font-family:Lato-LightItalic;
	src:url(../Lato/Lato-LightItalic.ttf);
}
@font-face{
	font-family:glyphicons-halflings-regular;
	src:url(../fonts/glyphicons-halflings-regular.ttf);
}
@font-face{
	font-family:Lato-Black;
	src:url(../Lato/Lato-Black.ttf);
}