.modal{
	transition: all 0.5s ease-in-out;
	background-color: rgba(14, 165, 224, 0.1);
}
.modal-header{
	background-color: #0F6D93;
	border-color: #0899CE;
}
.modal-title{
	text-align: center;
	color: #fff;
	font-size: 30px;
}
.icon-login{
	font-size: 25px;
	color: #fff;
}

.close,
.close:hover,
.close:focus{
	color: white;
}
.control-label{
	color: #2A2B2D;
	font-size: 18px;
}
.user{
	border: 0px solid transparent;
	background: transparent
	font-size: 19px;
}
.form-control{
	padding: 20px 0px;
	background: transparent;
	border: 1px solid #4997C1;
	border-radius: 0px;
	padding-left: 10px;
	transition: all 0.5 ease-in-out;
}
.modal-footer{
	background-color: #F2F2F2;
	display: flex;
	justify-content: center;
}
.btn-Login{
	background-color: #0F6D93;
	padding: 15px 30%;
	text-align: center;
	color: #FFF;
	border-radius: 3px;
}
.btn-Login:hover{
	color: #0899CE;
}
.login-here,
.login-here:hover{
	color: #0899CE;
}
.login-here:focus{
	color: #0899CE;
}
