.wel{
	text-align: center;
	font-size: 25px;
}
.inputRegister{
}

@media (min-width: 320px) {
	.btnscancel{
		background-color: #2A2B2D;
		margin-left: 12%;
		padding: 7px 15px;
		color: #fff;
	}
	.btnssave{
		background-color: #2A2B2D;
		margin-left: 5%;
		padding: 7px 15px;
		color: #fff;
	}
	.btnscancel:hover, .btnssave:hover{
		background-color: #2A2B2D;
		color: #fff;
	}
	.cancel{
		text-decoration: none;
		color: #fff;
	}
	.cancel:focus{
		text-decoration: none;
		color: #fff;
	}
}

@media (min-width: 480px) {

	.btnscancel{
		background-color: #0F6D93;
		margin-left: 22%;
		padding: 12px 35px;
		color: #fff;
	}
	.btnssave{
		background-color: #0F6D93;
		margin-left: 5%;
		padding: 12px 35px;
		color: #fff;
	}
	.btnscancel:hover, .btnssave:hover{
		background-color: #2A2B2D;
		color: #fff;
	}
	.cancel{
		text-decoration: none;
		color: #fff;
	}
	.cancel:focus{
		text-decoration: none;
		color: #fff;
	}
}
@media (min-width: 1024px) {

	.btnscancel{
		background-color: #0F6D93;
		margin-left: -5%;
		padding: 12px 10%;
		color: #fff;
	}
	.btnssave{
		background-color: #0F6D93;
		margin-left: 5%;
		padding: 12px 10%;
		color: #fff;
	}
	.btnscancel:hover, .btnssave:hover{
		background-color: #0F6D93;
		color: #fff;
	}
	.cancel{
		text-decoration: none;
		color: #fff;
	}
	.cancel:focus{
		text-decoration: none;
		color: #fff;
	}
}
.inputRegister{
	padding-left: 10px;
}
