body{
	padding-top: 80px;
}
input[type=text], input[type=password]{
	padding: 20px 30px;
	background-color: rgb(42, 43, 45, 0.2);
	border-radius: 0px;
	border: 0.5px solid #000;
}
.navbar-default{
	background-color: #0F6D93;
	border-color: #E5EFF5;
	font-size: 18px;
}
.navbar-default .navbar-brand{
	color: #fff;
	background-color: transparent;
	font-size: 20px;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus{
	color: #E5EFF5;
}

.titleSearch{
	color: #000;
}
.navbar-default .navbar-brand{
	font-size: 20px;
}

.modal-header{
	background-color: #2A2B2D;
	color: #fff;
	text-align: center;
}
.modal-footer{
	margin-top: 25px;
}
